
/*body{background-color: blueviolet;}*/
*{
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(0, 174, 255);
  padding: 50px;
  font-size: 20px;
}
h1{
    font-family: "Rowdies", sans-serif;
    text-align:left ;
    font-weight: bolder;
    padding: 30px;
}

/* Navegador - Título */
.nav-brand{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
#logotitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-style:italic;
    font-size: 3vh;
    letter-spacing: 3px;
    color: #f8f7fa;
}
/* Navegador - Estilos */
.logonav{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
a[class ="nav-link active"]{
    font-weight: bolder;
}

a[class="redes"]{
    text-decoration: none;
    color: #ba2711;
    font-weight: 200;
}
.rednav{
    background-color: #dfdbe5e4;
    text-align: center;
    border-radius: 5px;
}

#enlaces>.nav-item:hover{
    background-color: #df7317;  
}
div{border: black;}

/* Sliders */
.slider-item{
    width: 100%;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0%;
    overflow: hidden; 
} 
.slider-frame ul {
    display:flex;
    padding:0;
    /* width: auto; */
    /* flex-wrap: nowrap; */
    /* animation: slide 15s infinite alternate ease-in-out; */
}
.slider-frame li {
    width: 300%;
    /* list-style: none; */
}
.slider-frame img {
    width: 100%;
    /* height: 100%; */
    /* aspect-ratio: 16/9; */
} 
/*@media (min-width:768px ){
    .slider-frame img{
        height: 550px;
    } 
}*/
/* @keyframes  slide {
    0% {margin-left: 0;} 
    20% {margin-left: 0;}
    25% {margin-left: -100;}
    45% {margin-left: -100;}
    50% {margin-left: -200;}
    70% {margin-left: -200;}
    75% {margin-left: -300;}
    100% {margin-left: -300;}
}   */
formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 50px;
  }
/* Caja de texto */
.cajaTexto{
    background-color: #8acac0;
    padding: 1em;
    margin: 1em;
    text-align: justify;
}
p {
    /* background-color: #6fa0af; */
    padding: 1em;
    margin: 1em;
    text-align: justify;
}

/* Sección - ¿Quienes somos? */
#quienesomos{
    padding: 4%;
    padding-right: 2%;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.team-img-box{
    overflow:visible;
}
.row-3>img{
    margin: 5px;
    width: 100%;
}
.img-team-item > img{
    border-radius: 20%;
    width: fit-content;
}
.team-card-box{
    display: flex;
    justify-content: center;
    text-align: center;

}

/* Pie de la página */
footer{
    background-color: #105586;
    padding: 10px;
    text-align: center;
    font-size: smaller;
    color: #DFDBE5;
}

p > footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.siguered>img{
    width: min-content;
}
.siguered>h3{
    color: #e9deded0;
    padding: 10px;
    margin: 10px;
    font-size: small;
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */