*{
    font-family: 'Lucida Sans';
}
//body{background-color: blueviolet;}
h1{
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    background-color: #4ec2b4;
    padding: 30px;
}
h2{
    text-align: center;
    margin: 50px;
}
a{
    color: black;
    background-color: #E0252A;
    font-weight: bolder;
    font-size: larger;
    text-decoration: none;
    padding: 15px;
    border-radius: 15px;
}
a:hover{
    box-shadow: inset -3px -3px #4b4242 ;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    width: 50vh;
    height: 50vh;
    margin: 2em;
}

.image{
    display: flex;
    justify-content: center;
    justify-self: center;
}

footer{
    background-color: #E0252A;
    width: ;
    padding: 10px;

}
p > footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;

  }