
/*body{background-color: blueviolet;}*/
*{
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(0, 174, 255);
  padding: 50px;
  font-size: 20px;
}
h1{
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    background-color: rgb(78, 128, 194);
    padding: 30px;
}
h2{
    text-align: center;
    margin: 50px;
}
/* Navegador - Estilos */
.logonav{
    width: 60px;
    height: 60px;
}
a[class ="nav-link active"]{
    font-weight: bolder;
}

a[class="redes"]{
    text-decoration: none;
}
/* Sliders */

img{
    width: 50vh;
    height: 50vh;
    margin: 2em;
}

.image{
    display: flex;
    justify-content: center;
    justify-self: center;
}

/* Pie de la página */
footer{
    background-color:#09b8b8;
    text-align: center;
    padding: 10px;
}
/*He añadido algunos estilos en el div de la caja de texto
y he cambiado de color en footer*/

.boxText{
    background-color: #8acac0;
    padding: 1em;
    margin: 1em;
}

p > footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;

  }