
/*body{background-color: blueviolet;}*/
*{
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: rgb(0, 174, 255);
  padding: 50px;
  font-size: 20px;
}
h1{
    font-family: "Rowdies", sans-serif;
    text-align:left ;
    font-weight: bolder;
    padding: 30px;
}

/* Navegador - Título */
.nav-brand{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
}
#logotitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-style:italic;
    font-size: 3vh;
    letter-spacing: 3px;
    color: #f8f7fa;
}
/* Navegador - Estilos */
.logonav{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
a[class ="nav-link active"]{
    font-weight: bolder;
}

a[class="redes"]{
    text-decoration: none;
    color: #ba2711;
    font-weight: 200;
}
.rednav{
    background-color: #dfdbe5e4;
    text-align: center;
    border-radius: 5px;
}

#enlaces>.nav-item:hover{
    background-color: #df7317;
}

/* Sliders -------------------------------------------------------------------------------------------------------------------------- */
.slider-item{
    width: 100%;
}
.slider-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-container img {
    /*flex: 0 0 100%;*/
    flex: 1 0 auto;
    margin: 0 50px;
    width: 100%;
    object-fit: cover;
    scroll-snap-align: center;

  }
/* Caja de texto */
.cajaTexto{
    background-color: #8acac0;
    padding: 1em;
    margin: 1em;
}
/* Sección - ¿Quienes somos? ------------------------------------------------------------------------------------------------------------------------------*/
#quienesomos{
    padding: 4%;
    padding-right: 2%;
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
/* ¿Quiénes somos? - Nuestro equipo */
.teamtitulo{
    color: #691491;
    font-style: italic;
}
.team-img-box{
    overflow:visible;
}
.imageteam>img{
    margin: 5px;
    width: 100%;
}
.img-team-item > img{
    border-radius: 20%;
    max-width: 100%;
    max-height: 100%;
    height: 30vh;
    object-fit: cover;
}
.team-card-box{
    display: flex;
    justify-content: center;
    text-align: center;
}
/* Texto de ¿Quiénes somos? */
.qsdetalles-box>p{
    line-height: 2em;
    text-align: justify;
    font-size: 100%;
    margin: 5%;
}
.frase{
    text-align: center;
    color: #ba2711;
}
.frase>p{
    font-family: "Rowdies", sans-serif;
    font-size: larger;
    font-stretch: expanded;
    line-height: 2em;
}

/* Footer - Pie de la página --------------------------------------------------------------------------------- */
footer{
    background-color: #105586;
    padding: 10px;
    text-align: center;
    font-size: smaller;
    color: #DFDBE5;
}

p > footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.siguered>img{
    width: min-content;
}
.siguered>h3{
    color: #e9deded0;
    padding: 10px;
    margin: 10px;
    font-size: small;
}

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */